{% extends "registration/baseProf.html" %}
{% block title %}   Profil {{ prof.prenom }} {{ prof.nom }} {% endblock %}
{% block links %}
    {% load static %}
    <link href="{% static "profil/fichierCss.css" %}" rel="stylesheet">
    <link href="{% static "profil/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static "profil/bootstrap.min.js" %}"></script>
    <script src="{% static "profil/jquery.min.js" %}"></script>
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ prof.profil.url }}" alt="Image Not Found"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                        <h5>
                            {{ prof.prenom }} {{ prof.nom }}
                        </h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <button class="profile-edit-btn">
                <a href="#">Editer Profil</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>ECOLE POLYTECHNIQUE DE THIES</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Professeur Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.pk }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Prénom</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.prenom }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nom</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.nom }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Téléphone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.telephone }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Responsable pédagogique</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.respClasse }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Chef de département</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ prof.respDept }}</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

    